# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data & Models (Ignore large files and raw data)
data/*
!data/.gitkeep
*.pdf
!hansard_master.csv
!hansard_master_final.csv
!hansard_final_analyzed.csv

# IDE specific
.vscode/
.cursor/
.DS_Store