# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data & Models (Ignore large files and raw data)
data/*
!data/.gitkeep
*.pdf
!data/hansard_final_analyzed.csv

# IDE specific
.vscode/
.cursor/
.DS_Store